<div class="form">
<%= simple_form_for @post do |f| %>
  <%= f.input :image %>
  <%= f.input :title %>
  <%= f.input :link %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
</div>

<style>

body {
  font-family: 'Market_Deco';
}

@font-face {
  font-family: 'Market_Deco';
  src:url('Market_Deco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.form {
  text-align: center;
}

</style>
