<h1><%= @post.title %></h1>
<h1><%= image_tag @post.image.url(:medium) %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>
<p><%= @post.user.name %></p>
<!-- <p><%= @post.user_id %></p>
<p><%= @post.user %></p> -->

<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Destroy", post_path(@post), method: :delete %></p>
<p><%= link_to "Home", root_path %></p>
